@media (max-width: 600px) {
    .header .container {
        flex-direction: column;
    }
    .mask-list li{
        flex-direction: column;
        align-items: flex-start;
    }
    .inner{
        margin-bottom: 20px;
    }
    p{
        margin: 10px 0 0 0;
    }
}
@media (max-width: 530px) {
    .header .container .form{
        flex-direction: column;
    }
    .header .container .form input {
        width: 100%;
        margin-bottom: 10px;
    }
}